.cursos {
    width: 200px;
    height: 50px;
    border: 3px solid rgb(255, 8, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cursos:hover {
    border: solid blue;
}

.pacote1 {
    background-color: gray;
    color: white;
}

.pacote2 {
    background-color: black;
    color: white;
}

.adicionarClasseComJavaScript {
    background-color: purple !important;
    border: solid forestgreen !important;
}

.boxEl {
    width: 300px;
    border: 3px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
}

.mainBox {
    display: flex;
    justify-content: center;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: #025;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    border: 2px solid black;
}